altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
fastapi==0.135.3
h11==0.16.0
idna==3.11
packaging==26.0
pefile==2024.8.26
pillow==12.2.0
pydantic==2.13.0
pydantic_core==2.46.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pyodbc==5.3.0
pywin32-ctypes==0.2.3
requests==2.33.1
setuptools==82.0.1
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
uvicorn==0.44.0
zip2tz==0.1.7
